@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.bg {
    /* bg */

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #FDFDFD;
}

.sidenav {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 20%;
    height: 100%;
    border-right: 2px solid #BDBDBD;
    transition: 0.5s;
}

.sidenavTitle {
    /* Company */

    position: relative;
    top: 10%;
    height: 18.7%;
    text-align: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 22px;
    /* identical to box height, or 61% */

    color: #000000;
}

.sidenav nav {

    display: flex;
    flex-direction: row;
    align-items: center;
    height: 13.2%;
    background: white;
    transition: 0.3s;

}

.sidenav nav:hover {

    background: #4F61AA;
    color: white;
    cursor: pointer;

}

.sidenavText {

    position: absolute;
    padding-left: 33%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 22px;

}

.sidenavIcon {

    position: absolute;
    left: 12%;

}

.forceFit {
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
  }

.login {
    /* images */

    box-sizing: border-box;

    position: absolute;
    width: 1271px;
    height: 772px;
    left: 5px;
    top: 64px;

    background: #4F61AA;
    border-radius: 0px 0px 10px 10px;
}

.login-background {
    /* login background */

    position: absolute;
    width: 462px;
    height: 739px;
    left: 20px;
    top: 78px;

    background: #D7D7D7;
    border-radius: 20px;
}
  

.login-title {
    /* Sign in to Company Name */

    position: absolute;
    width: 269px;
    height: 22px;
    left: 77px;
    top: 372px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    /* identical to box height, or 92% */

    letter-spacing: -0.02em;

    color: #142363;
}