@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

.highlight {
    color: #364373;
}

.white {
    color: white;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 22px;
    /* identical to box height, or 100% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;

    color: #364373;

    padding-top: 1.5%;
    padding-bottom: 1.5%;

    flex: none;
    order: 0;
    flex-grow: 0;

    position: relative;
}

h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */

    display: flex;
    align-items: center;

    color: #142363;

    padding-bottom: .75%;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    position: relative;
}

h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;

    color: #142363;
}

body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;

    color: #142363;
}

.round {
    overflow: hidden;
    border-radius: 50%;
}

.dot {
    position: absolute;
    left: 20px;
    top: 20px;
    height: 25px;
    width: 25px;
    background-color: #54CE36;
    border-radius: 50%;
    border: 2.5px solid white;
}

.unavailable {
    background-color: #F04C4C;
}

.sidenav {
    position: absolute;
    left: 0vw;
    top: 0vh;
    width: 20vw;
    height: 100vh;
    max-height: 100vh;
    border-right: 2px solid #BDBDBD;
    overflow: hidden;
}

.sidenavTitle {
    /* Company */

    position: relative;
    top: 10%;
    height: 18.7%;
    text-align: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 22px;
    /* identical to box height, or 61% */

    color: #000000;
}

.sidenav nav {

    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 13.2%;
    background: white;
    color: #364373;
    transition: 0.3s;

}

.sidenav nav:hover {

    background: #4F61AA;
    color: white;
    cursor: pointer;

}

.sidenavText {

    position: absolute;
    padding-left: 33%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 22px;

}

.sidenavIcon {

    position: absolute;
    left: 12%;

}

.sidenavImage {

    padding: 5%;
    position: relative;
    object-fit: scale-down;

}

.home {
    position: absolute;
    margin-left: 20vw;
    width: 80vw;
    height: 100vh;
    padding-top: 1.5%;
    padding-left: 3%;
}

.homeRect {
    /* Rectangle 56 */
    position: relative;
    width: 91%;
    height: 23%;

    background: #4F61AA;
    border-radius: 2.5vmin;
}

.homeRectPic {
    position: absolute;
    margin-left: 10%;
    top: 50%;
    transform: translate(-50%, -50%); /*anchor center-center*/
    stroke-linejoin: round;
    object-fit: scale-down;
    max-width: 12%;
    border: 5px dashed white;
}

.homeRecth1 {
    position: absolute;
    left: 30%;
    top: 30%;
}

.homeRectBody {
    position: absolute;
    left: 30%;
    top: 50%;
}

.homeRectImage {
    position: absolute;
    transform: translate(0%, -50%); /*anchor left-center*/
    top: 50%;
    right: 10%;
    max-width: 60%;
    max-height: 80%;
}

.container {
    position: relative;
    width: 91%;
    height: 23%;

    /* group cards */
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    justify-content: space-between;
}

.groupcard {
    position: relative;
    width: 20%;
    height: 100%;

    border: 2px solid #BFBFBF;
    border-radius: 20px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.groupText {
    position: absolute;
    left: 10%;
    bottom: 10%;
}

.groupPic {
    position: absolute;
    left: 50%;
    top: 10%;
    width: 40%;
    transform: translate(-50%, 0%); /*anchor top-center*/
}

.groupAdd {
    /* Vector */

    position: absolute;
    left: 80%;
    right: 10%;
    top: 75.16%;
    bottom: 14.25%;

}

.groupAdd :hover {
    overflow: hidden;
    background-color: #b09e55;
    border-radius: 50%;
    transform: scale(2.5);
    filter: invert(1);
    cursor: pointer;
    transition: 1s;
}

.teamcard {
    position: relative;
    width: 29%;
    height: 100%;

    background: #F5F5F5;
    border-radius: 20px;
}

.teamText {
    position: absolute;
    left: 7.5%;
    bottom: 10%;
}

.teamPic {
    position: absolute;
    left: 7.5%;
    top: 10%;
    width: 28%;
    transform: translate(0%, 0%); /*anchor top-left*/
}

.teamPoints {
    position: absolute;
    right: 7.5%;
    top: 15%;
}

.paginationBar {
    position: absolute;
    right: 6%;
    bottom: 1%;
}

















.VideoCall {
  color: #000;
}

/* Tab Container */
.Tabs {
  width: 400px;
  height: auto;
  /* min-height: 400px; */
  /* margin: 3.5rem auto 1.5rem; */
  padding: 2rem 1rem;
  color: #a59fa1;
  text-align: center;

  /* border-radius: 2rem; */
  /* @media (max-width: 769px) {
    padding: 2rem 0;
  } */
}

/* Tab Navigation */
ul.nav {
  width: 50%;
  margin: 0 2rem;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  border: 1px solid #39a2db;
  border-radius: 2rem;
  /* @media (max-width: 768px) {
    width: 90%;
  } */

  /* box-sizing: border-box;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%; */

  /* border: 3px solid #d9d9d9;
  border-radius: 20px; */
}
ul.nav li {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}
ul.nav li:nth-child(2) {
  border-radius: 0;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}
ul.nav li:hover {
  background: #4f61aa;
}
ul.nav li.active {
  background: #39a2db;
}

/* First and Second Tab Styles */
.FirstTab p,
.SecondTab p {
  font-size: 2rem;
  text-align: center;
}